<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your IP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-img src="assets/img/map.png" alt="alt" style="width: 20em; margin: 0 auto"></ion-img>

  <div class="ion-text-center">
    <ion-text *ngIf="result" class="ion-text-xxl"><h1>{{ result.ip }}</h1></ion-text><br>

    <ion-button (click)="showInfoMyIpModal()">
      More Data
    </ion-button>
  </div>
</ion-content>
